* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.admin-panel_title {
  text-align: center;
}

.admin-panel_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}

.admin-panel_item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 200px;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.card-tea_item li {
  min-height: 30px;
  font-size: 14px;
}

.card-tea_item li:last-child {
  margin-bottom: 0;
}

.card-tea_item img{
  width: 100%;
  min-width: 178px;
  max-height: 200px;
  border-radius: 7px;
}

.card-tea_item-desc {
  font-size: 12px;
	height: 70px;
	overflow: hidden;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to bottom, #fff, #fff, rgba(255, 255, 255, 0));
}

.card-tea_btn-delete {
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all .5s ease;
  display: block;
}

.card-tea_btn-delete:hover {
  background-color: #fff;
  color: #000;

}

.navBarElem.name {
  color: #E9967A;
  font-weight: bold;
}

.logo-block{
  display: flex;
}

.navBarElem a {
    position: relative;
    cursor: pointer;
    text-decoration: none; /* Убираем подчеркивание */
}
.navBarElem a:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #9c4b30;/* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.navBarElem a:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #E9967A;/* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}



/* .card-tea_item-desc:hover {
  overflow: visible;
  height: auto;
  color: #fff;
} */

.descriptionTea {
  font-size: 24px;
  color: darksalmon;
  font-weight: 800;
}

.coment {
  width: 400px;
  height: 62px;
  margin-right: 10px;
}

.containerTeaPage {
  display: flex;
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
}

.imgTea {
  border: 3px solid darksalmon;
}

.descriptionTeaAll {
  border: 3px solid white;
  margin-left: 10px;
  padding: 5px;
}

.itemFont {
  font-size: 20px;
}

.headerInfo {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 32px;
  color: white;
  font-weight: 800;
}

.comentDiv {
  display: flex;
  justify-content: center;
}

.comentDivBody {
  display: flex;
  justify-content: center;
}

.card {
  width: 700px;
  margin-top: 10px;
  background-color: white;
  color: black;
}

.card{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.itemIncoment1 {
  text-align: start;
  color: darksalmon;
  padding-left: 5px;
}
.itemIncoment2 {
  text-align: end;
  font-size: 12px;
}
